body {
}
/*Top Banner*/
.banner {
    padding: 0 !important;
    .col-xs-12{
        padding:0 !important;
    }
    img{
        opacity:0.55 !important;
    }
}

/*Services*/
.services {
    background-color: #fe9900;
}