/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/** {
    margin: 0;
    padding: 0;
}*/
.img-block {
  text-align: center;
  max-width: 100%;
}
body {
  max-width: 1366px;
  margin: 0 auto;
  background-color: #fff;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 629px;
  margin-top: -314px;
  /* Half the height */
  margin-left: -480px;
  /* Half the width */
}